.container { width: auto; }
.dataTables_processing {
    width:300px !important;
    padding:1em !important;
}
.popover {
    max-width:600px;
}
.popover img {
    max-width:580px;
}
.dataTables_wrapper .col-sm-12, .dataTables_wrapper .col-sm-6, .no-padding {
    padding: 0 !important;
}
.extra-top-padding {
    padding-top:20px;
}
#nav-table-controls {
    margin-right:10px;
}
#table-maplist_length {
    margin-left: 10px;
}
table.dataTable {
    margin-top: -9px !important
}
