.container { width: auto; }
.dataTables_processing {
    width:300px !important;
    padding:1em !important;
}
.icon b {
    display: none;
}
.popover {
    max-width:600px;
}
.popover img {
    max-width:580px;
}
.dataTables_wrapper .col-sm-12, .dataTables_wrapper .col-sm-6, .no-padding {
    padding: 0 !important;
}
#table-controls {
    display:none;
}
#nav-table-controls, #theme-switcher-wrapper {
    margin-right:10px;
}
#table-maplist_length, #table-maplist_filter, #theme-switcher-wrapper {
    margin-left: 10px;
}
table.dataTable {
    margin-top: -9px !important
}

div.dt-buttons {
    width:auto !important;
}
td em {
    color: #999;
}
#footer {
    margin-bottom:60px;
}
.footer-bar {
    position: fixed;
    bottom: 0;
    padding: 5px 2px 0;
    z-index: 100000;
    width: 100%;
}
.footer-bar .navbar-brand {
    margin:0;
    padding:0 10px;
    font-size: 14px;
}

.mapshot {
    width: 250px;
    height: auto;
    position: relative;
    z-index: 1000;
}

.mapshot.css-animated {
    transition-duration: 0.8s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.mapshot.css-animated:hover {
    -webkit-transform: scale(2.2);
    -ms-transform: scale(2.2);
    transform: scale(2.2);
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-in;
    z-index: 1010;
}
.mapshot-link span {
    display:none;
}

#search-clear {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    color: #aaa;
}
#search-clear:hover {
    color:#555;
}

.icon {
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.25);
}

/* item colors */
.icon-weapon_arc {
    color: #C3EEFF;
}
.icon-weapon_blaster {
    color: #963043;
}
.icon-weapon_crylink {
    color: #F580F7;
}
.icon-weapon_devastator {
    color: #ECD262;
}
.icon-weapon_electro {
    color: #69A0E7;
}
.icon-weapon_fireball {
    color: #FFB27D;
}
.icon-weapon_flak {
    color: #FFF371;
}
.icon-weapon_grenadelauncher {
    color: #FFA789;
}
.icon-weapon_hagar {
    color: #FFC37E;
}
.icon-weapon_hlac {
    color: #FFE287;
}
.icon-weapon_hmg {
    color: #FFA788
}
.icon-weapon_hook {
    color: #417D2F;
}
.icon-weapon_machinegun {
    color: #8CE54A;
}
.icon-weapon_minelayer {
    color: #AD2D29;
}
.icon-weapon_porto {
    color: #9FE1FF;
}
.icon-weapon_rifle {
    color: #FFBF7C;
}
.icon-weapon_rpc {
    color: #FFFF82;
}
.icon-weapon_seeker {
    color: #FF949D;
}
.icon-weapon_shockwave {
    color: #B0FFD0;
}
.icon-weapon_shotgun {
    color: #95AFBE;
}
.icon-weapon_tuba {
    color: #E5CF5D;
}
.icon-weapon_vaporizer {
    color: #ACA0E9;
}
.icon-weapon_vortex {
    color: #73BACA;
}
.icon-item_health_mega, .icon-item_health_large, .icon-item_health_medium, .icon-item_health_small {
    color: #D85F4E;
}
.icon-item_armor_big, .icon-item_armor_large, .icon-item_armor_medium, .icon-item_armor_small {
    color: #4B9B25;
}
.icon-item_shells {
    color: #BECBD3;
}
.icon-item_rockets {
    color: #E1B08D;
}
.icon-item_plasma {
    color: #CE9DD4;
}
.icon-item_cells {
    color: #B1FFFF;
}
.icon-item_bullets {
    color: #B1D887;
}
.icon-item_flag_team1 {
    color: red;
}
.icon-item_flag_team2 {
    color: #0080FF;
}
.icon-item_flag_team3 {
    color: #FFFF0F;
}
.icon-item_flag_team4 {
    color: #FF0FFF;
}
.icon-item_flag_neutral {
    color: grey;
}